{% extends "conteneur.html" %}

{% block titre %}| À propos{%endblock%}

{% block corps %}
    <body>
    <div class="container" style="padding-left: 5em; padding-right: 5em;">
        <div class="container" style="padding-bottom: 1em">
            <h1>À propos de la TNAHBox : </h1>
            <p>Projet de classe réalisé en Master 2 TNAH à l'École des chartes,
                la TNAHBox a été un outil d'expérimentation et d'application du langage de programmation python.
                Il a été réalisé par cinq étudiantes de ce master grâce au <i>framework</i> Flask.
                Il faudra vous inscrire pour accéder aux différents éléments proposés, vous devrez renseigner plusieurs informations vous concernant.
            </p>
            <p style="text-align: center">Vous trouverez tout le code et les documents utilisés <br> pour la réalisation du projet sur le repository GitHub <a href="https://github.com/Chartes-TNAH/TNAHBox">TNAH Box</a></p>
        </div>
        <h3>Que trouverez-vous sur la TNAHBox ?</h3>
        <ul>
            <li>Des documents utiles à la scolarité du Master, importés par les étudiant·e·s. Les documents peuvent être de différents formats ;</li>
            <li>Des fonctionnalités de recherche avancée parmi les documents présents et leurs métadonnées ;</li>
            <li>Un annuaire de tou·te·s les inscrit·e·s sur la TNAHBox qui se veut communautaire ;</li>
            <li>Des notices détaillées pour chaque personne et document enregistrés dans la base ;</li>
            <li>Des outils de personnalisation des documents grâce aux favoris et à l'ajout de curriculum vitæ.</li>
        </ul>
    </div>
    <div class="row" style="padding: 1em">
        <div class="col-1"></div>
        <div class="col-2 container">
            <h2>Ségolène Albouy</h2>
            <p>Ségolène a réalisé la fonction recherche parmi les documents avec toutes les subtilités que cela supposait :
                création de pictogrammes, travail sur les tags, ajouts aux favoris, etc. Elle s'intéresse autant au code
                qu'à la forme, on lui doit le footer, la bannière et le choix des couleurs. Elle a aussi participé à l'amélioration
                de l'import de documents ainsi qu'à la création de nouveaux enregistrements dans la base. Elle a beaucoup
                contribué aux finitions du projet : pages de refus animées de gif et surtout déploiement sur heroku.</p>
        </div>
        <div class="col-2">
            <h2>Victoria Le Fourner</h2>
            <p>Victoria s'est occupée de la base de données : sa modélisation, son script. Elle l'a également largement
                peuplée avec des données pour la version application.</p>
        </div>
        <div class="col-2">
            <h2>Lauryne Lemosquet</h2>
            <p>Lauryne, en charge de l'établissement des profils utilisateurs lors de leur inscription, a pleinement
                réussi sa mission. Grâce à elle, chaque utilisateur peut modifier et compléter les informations de son
                profil ; de plus, elle a mis en place un profil administrateur, capable de modifier les données de tous
                les autres utilisateurs de la plateforme. Douée pour le web design, elle a dû composer avec des librairies
                python qui ne supportent pas le stylage Bootstrap, à l'instar de WTForm.</p>
        </div>
        <div class="col-2">
            <h2>Caroline Méot</h2>
            <p>Caroline a pris en charge l'import de fichiers, permettant aux utilisateurs connectés d'ajouter de nouveaux
                documents sur le serveur, fonctionnalité centrale de la plateforme. Elle a également rempli la base de
                données et rédigé le READ ME.</p>
        </div>
        <div class="col-2">
            <h2>Marie Morillon</h2>
            <p>Marie s'est occupée de construire l'annuaire des utilisateurs de la plateforme ainsi que leurs pages de
                profil individuelles : elle a intégré plusieurs visualisations adaptables pour faciliter la lecture et
                améliorer l'expérience utilisateur. Elle a également rédigé et conçu la page d'accueil et l'à propos.
                Elle était également en charge de prendre des notes tout au long du développement pour rédiger des points
                d'étapes.</p>
        </div>
        <div class="col-1"></div>
    </div>
    </div>
    </body>

    {% include "partials/retour_accueil.html" %}
{% endblock %}
