{% extends "conteneur.html" %}

{% block titre %}| Accueil{%endblock%}

{% block corps %}
<body>
<div style="text-align: center">
    <p class="lead text-muted container">Rendu final du cours de <a href="/personne/3">Thibaut Clérice</a> en M2 TNAH à l'ENC, <br>le projet TNAHBox a été développé grâce au langage de programmation python. Bienvenue sur la page d'accueil !</p>

    {% if current_user.is_anonymous %}
    <!-- cette partie n'est accessible que si l'utilisat.eur.rice est connecté.e -->
    <p class="h3 mb-3 font-weight-normal container"><br>Ancien étudiant·e ou enseignant·e ?
        Inscrivez-vous et accédez aux documents enregistrés ou ajoutez-les et explorez l'annuaire du master !</p>
    <a href="{{url_for('register')}}" class="btn btn-dark btn-md active" role="button" aria-pressed="true" style="margin-right: 0.5em">Inscription</a>
    <a href="{{url_for('login')}}" class="btn btn-dark btn-md active" role="button" aria-pressed="true" style="margin-right: 0.5em">Connexion</a>
    <!-- deux boutons menant aux pages inscription et description -->
    {% endif %}
</div>

<div class="container marketing" style="margin-top: 2em">
    <!-- pour une raison que je n'explique pas, les boutons sont recouverts par les "ronds" svg des docs sans un petit margin-top-->
    <h4 style="padding: 1em">Voici les trois derniers documents ajoutés à la TNAHBox : </h4>
    <div class="row">
            {% for found_document in resultats %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    {% if found_document.document_format == "Image" %}
                    <img class="bd-placeholder-img card-img-top" src="{{url_for('static', filename='img/img.png')}}">
                    {% elif found_document.document_format == "Texte" %}
                    <img class="bd-placeholder-img card-img-top" src="{{url_for('static', filename='img/txt.png')}}">
                    {% elif found_document.document_format == "Code" %}
                    <img class="bd-placeholder-img card-img-top" src="{{url_for('static', filename='img/code.png')}}">
                    {% elif found_document.document_format == "Autre" %}
                    <img class="bd-placeholder-img card-img-top" src="{{url_for('static', filename='img/autre.png')}}">
                    {% else %}
                    <img class="bd-placeholder-img card-img-top" src="{{url_for('static', filename='img/autre.png')}}">
                    {% endif %}
                    <!-- ici : si le format correspond à txt, alors appliquer l'image txt, etc. ; la boucle for permet itération -->
                    <div class="card-body">
                        <div class="row">
                            <h4 class="card-title col-md-8">
                                <a href="{{url_for('document', docu_id = found_document.document_id)}}">{{found_document.document_title}}</a>
                            </h4>
                            <div><!-- pour question d'affichage et responsive design class="col-md-4"retiré balise div-->
                                <b>
                                    {% if found_document.document_teaching %}
                                    <span class="badge badge-light">{{found_document.document_teaching}}</span>
                                    {% else %}
                                    <span>Il n'y a pas de matière renseignée pour ce document</span>
                                    <!-- Si la matière du document a été remplie dans la BDD, afficher sinon phrase -->
                                    {% endif %}
                                </b>
                            </div>
                        </div>
                        {% if found_document.document_description %}
                        <p>{{found_document.document_description}}</p>
                        {% else %}
                        <p>Il n'y a pas de description pour ce document</p>
                        <!-- Si la description du document a été remplie dans la BDD, afficher sinon phrase -->
                        {% endif %}

                    </div>
                </div>
            </div>

            {% endfor %}


        <!-- design repris depuis page recherche avec les card de bootstrap -->
    </div>
</div>
</body>
{% include "partials/footer_accueil.html" %}
{% endblock %}