{% extends "conteneur.html" %}

{% block titre %}| {{titre}}{%endblock%}

{% block corps %}

<!--utilisation Bootstrap https://getbootstrap.com/docs/4.3/examples/album/ -->
  <body>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Annuaire du master TNAH de l'École nationale des chartes</h1>
      <p class="lead text-muted">Retrouvez les informations de contact des étudiant·e·s du Master TNAH inscrit·e·s sur TNAHBox.</p>
         <p style="padding-left: 20px">Il y a {{resultats.total}} personnes inscrites sur l'annuaire TNAH :</p>
          <button type="button" class="btn btn-lg btn-outline-light" style="color: #55595c" disabled><b>Étudiants</b></button>
          <button type="button" class="btn btn-lg btn-outline-light" style="color: #BD052D" disabled><b>Professeurs</b></button>



    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
{% for found_person in resultats.items %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top">
                {% if found_person.person_is_teacher %}
                <rect width="100%" height="100%" fill="#BD052D"/><!-- couleur de l'ENC -->
                {% else %}
                <rect width="100%" height="100%" fill="#55595c"/>
                {% endif %}
                <!-- à conserver, permet de faire grand rectangle gris foncé -->
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">
               <!-- avant modification, bootstrap = <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"> -->
                <a href="{{url_for('person', person_id = found_person.person_id)}}">{{found_person.person_firstName}} {{found_person.person_name}}</a>
                <!-- afficher le Prénom Nom dans la case gristextui peut éventuellement accueillir une image, voir si BDD etc. -->
            </text>

            </svg>
            <div class="card-body">
                <!--
              <ul class="card-text">
                  <li style="list-style-type: none">{{found_person.person_email}}</li>
                  <li style="list-style-type: none">{{found_person.person_cv}}</li>
                dans chaque case, faire apparaître l'adresse mail et le CV ; sous forme de liste ?? utile dans le cadre de l'annuaire ?
                </ul>
                -->

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    {% if found_person.person_git %}
                    <a href="{{found_person.person_git}}" class="btn btn-sm btn-dark" role="button" aria-disabled="true">gitHub</a>
                    {% else %}
                    <button type="button" class="btn btn-sm btn-light" disabled>gitHub</button>
                    {% endif %}
                    {% if found_person.person_linkedIn %}
                    <a href="{{found_person.person_linkedIn}}" class="btn btn-sm btn-dark" role="button" aria-disabled="true">LinkedIn</a>
                    {% else %}
                    <button type="button" class="btn btn-sm btn-light" disabled>LinkedIn</button>
                    {% endif %}
                    <!-- boutons gitHub et linkedIn balancent vers le lien donné ; bouton grisé et non cliquable si l'information n'est pas contenue dans la BDD -->
                </div>
                <small class="text-muted">({{found_person.person_promotion}})</small>
                  <!-- dans chaque case, faire apparaître en bas à droite (conserver l'aspect text-muted ?) la promotion entre parenthèses-->
              </div>
            </div>
          </div>
        </div>
          {% endfor %}

      </div>
    </div>
  </div>

</main>


<!-- premier code :
   <h1>{{titre}}</h1>

        <p style="padding-left: 20px">Il y a {{resultats.total}} personnes inscrites sur l'annuaire TNAH :</p>
        <ul>
            {% for found_person in resultats.items %}
                <li style="margin-bottom: 10px; list-style-type: none;">
                    <a href="{{url_for('person', person_id = found_person.person_id)}}">{{found_person.person_firstName}} {{found_person.person_name}} ({{found_person.person_promotion}})</a>
                </li>
            {% endfor %}
        </ul>
        -->
    {% include "partials/retour_accueil.html" %}
    <!-- permet d'afficher le footer, appelle ici le fichier retour_accueil.html présent dans /templates/partial/ -->
{% endblock %}

