{% extends "conteneur.html" %}

{% block titre %}
    {%if docu %}| Document : {{docu.document_title}} {% endif %}
{% endblock %}

{% block corps %}
    <h1 style="margin-left: 2em">Galerie de document</h1>
    {% if docu %}
        {% if docu.document_format == "image" %}
            <div class="row" style="padding: 2em">
                <div class="col-md-3">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="{{url_for("static", filename="img/img.png")}}" alt="fichier en format image">
                </div>
                <div class="col-md-4">
                    <h2>{{docu.document_title}}</h2>
                    <dt>Matière</dt><dd>{{docu.document_teaching}}</dd>
                    <dt>Description</dt><dd>{{docu.document_description}}</dd>
                    <dt>Format</dt><dd>{{docu.document_format}}</dd>
                    <dt>Date</dt><dd>{{docu.document_date}}</dd>
                    <div class="row">
                        <a class="btn btn-lg" style="background-color: #70b7c2; color: white" href="#">Aperçu</a>
                         <a href="#">
                        <img class="img-fluid rounded mb-3 mb-md-0" style="height: 40px" src="{{url_for("static", filename="img/download_picto.png")}}" alt="Icone de télécharment">
                    </a>
                    <a href="#">
                        <img class="img-fluid rounded mb-3 mb-md-0" style="height: 40px" src="{{url_for("static", filename="img/preview_picto.png")}}" alt="Icone de prévisualisation">
                    </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <dt>Tag</dt><dd>{{docu.document_teaching}}</dd>
                    <dt>Auteur</dt><dd>{{docu.document_description}}</dd>
                    <dt>Format</dt><dd>{{docu.document_format}}</dd>
                    <dt>Date</dt><dd>{{docu.document_date}}</dd>
                    <form class="form" id="recherche-form" action="{{url_for('document', docu_id = docu.document_id)}}" method="GET">
                        <div class="input-group">
                            <input type="text" name="tag" class="form-control form-control-lg" placeholder="Tag …">
                            <span class="input-group-btn">
                                <button class="btn btn-lg" style="background-color: #70b7c2" href="#" role="button">Insérer</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}

    {% else %}
        <p>Aucun document ne correspond à l'identifiant renseigné.</p>
    {% endif %}
    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
{% endblock %}