{% extends "conteneur.html" %}
{% block corps %}
<h1>S'enregistrer</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.person_login.label }}<br>
            {{ form.person_login(size=32) }}<br>
            {% for error in form.person_login.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.person_email.label }}<br>
            {{ form.person_email(size=64) }}<br>
            {% for error in form.person_email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.person_password.label }}<br>
            {{ form.person_password(size=32) }}<br>
            {% for error in form.person_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.person_git.label }}<br>
            {{ form.person_git(size=100) }}<br>
        </p>
        <p>
            {{ form.person_linkedIn.label }}<br>
            {{ form.person_linkedIn(size=100) }}<br>
        </p>
        <p>
            {{ form.person_promotion.label }}<br>
            {{ form.person_promotion(size=100) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
        <p>* champs obligatoires</p>
    </form>
{% endblock %}