{% extends "conteneur.html" %}

{% block titre %}
    {%if docu %}| Oups {% endif %}
{% endblock %}

{% block corps %}
    <div class="container" style="text-align: center">
        <h1>Le document a déjà été ajouté au serveur !</h1>

        <div class="row" style="text-align: center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p>Merci de choisir un autre fichier ou de renommer le vôtre.</p>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row" style="text-align: center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <img src="{{url_for('static', filename='img/bmo_butt.gif')}}">
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row" style="text-align: center; padding: 2em">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a class="btn btn-info"
                   href="{{url_for('upload')}}">Retourner aux imports</a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    {% include "partials/retour_accueil.html" %}
{% endblock %}

