{% extends "conteneur.html" %}

{% block titre %}
         {%if person %}| Personne : {{person.person_name}} {% endif %}
{% endblock %}

<!-- design grâce à : view-source:https://getbootstrap.com/docs/4.3/examples/blog/ -->

{% block corps %}

<!-- Premier code :
        {% if person %}
            <h1>{{person.person_name}} {{person.person_firstName}} ({{person.person_promotion}})</h1>

            <dl>

                <dt>adresse mail :</dt><dd>{{person.person_email}}</dd>
                <dt>linkedIn :</dt><dd>{{person.person_linkedIn}}</dd>
                <dt>CV :</dt><dd>{{person.person_cv}}</dd>
                <dt>git :</dt><dd>{{person.person_git}}</dd>
                <dt>promotion :</dt><dd>{{person.person_promotion}}</dd>
            </dl>
        {% else %}
            <p>La base de données est en cours de constitution : n'hésitez pas à vous inscrire !</p>
        {% endif %}
        <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
-->


<!-- design repris de la page document.html pour homognéité visuelle -->
            <div class="row" style="padding: 2em">
                <!-- Ici image, voir si on ajoute image pour les profils -->
                <div class="col-md-5 text-white rounded bg-dark" style="margin-left: 10%">
                    <h2 class="display-5 font-italic" style="margin-top: 0.5em">{{person.person_firstName}} {{person.person_name}}</h2>
                    <!-- affichage Prénom Nom -->
                    <dt>Promotion</dt>
                    {% if person.person_promotion %}
                        <dd>{{person.person_promotion}}</dd>
                    {% else %}
                        <dd>Le promotion de {{person.person_firstName}} {{person.person_name}} n'a pas été renseignée.</dd>
                    {% endif %}
                    <dt>CV</dt>
                    {% if person.person_cv %}
                        <dd>{{person.person_cv}}</dd>
                    {% else %}
                        <dd>Le CV de {{person.person_firstName}} {{person.person_name}} n'a pas été rempli.</dd>
                    {% endif %}

                    <div class="row">
                        <div style="margin-left: 1em"></div>

                    </div>
                </div>
                    <div class="col-md-5 bg-light rounded" style="margin-left: 2%">
                        <h4 class="font-italic" style="margin-top: 1em">Contact</h4>
                        <ol class="list-unstyled">
                        <li>GitHub :
                        {% if person.person_git %}
                            <span><a href="{{person.person_git}}">{{(person.person_git).replace("https://github.com/","")|safe}}</a></span>
                        <!-- le nom du GitHub de la personne est utilisé comme lien, mais tant lui-même un lien, la fonction replace a permis d'enlever.-->
                        {% else %}
                            <span style="color: grey;">Aucun compte GitHub n'a été renseigné.</span>
                        {% endif %}
                            </li>
                        <li>LinkedIn :
                        {% if person.person_linkedIn %}
                            <span><a href="{{person.person_linkedIn}}">{{person.person_firstName}} {{person.person_name}}</a></span>
                        {% else %}
                            <span style="color: grey;">Aucun compte LinkedIn n'a été renseigné.</span>
                        {% endif %}
                            </li>
                        <li>Adresse email :
                         {% if person.person_email %}
                            <span><a href="mailto:{{person.person_email}}">{{person.person_email}}</a></span>
                         {% else %}
                            <span style="color: grey;">Aucune adresse mail n'a été renseignée. <br>Essayez : <a href="mailto:{{person.person_email}}" style="text-transform: lowercase;">{{person.person_firstName}}.{{person.person_name}}@chartes.psl.eu</a></span>
                         {% endif %}
                        </li>
                            <!-- Si aucune adresse mail n'a été renseignée, propose par défaut celle de l'ENC -->
                        </ol>
                    </div>
            </div>
            <div class="row" style="padding: 2em">
                <div class="col-md-5 rounded" style="margin-left: 10%">
                    <dt>Description : </dt>
                    <!-- if person_description
                    <p>{{person_description}}</p>
                    else
                    <span style="color: grey;">Aucune description n'a été renseignée.</span>
                     endif  -->
                </div>
                <div class="col-md-5" style="margin-left: 2%">
                    <dt style="margin-top: 0.5 em">Documents ajoutés :</dt>
                    {% if person.created_document %}
                        <p>{{person.person_firstName}} {{person.person_name}} a ajouté {{person.created_document.count(document)+1}} document(s) dans TNAHBox :</p>
                    <!-- pour un document affiche 1 documents grâce à +1 ; voir si ça fonctionne avec plusieurs documents. -->
                            {% for document in person.created_document %}
                                <dd><a href="{{url_for('document', docu_id = document.document_id)}}">{{document.document_title}}</a></dd>
                            {% endfor %}
                    {% else %}
                        <dd>{{person.person_firstName}} {{person.person_name}} n'a ajouté aucun document à TNAHBox.</dd>
                    {% endif %}
                </div>

            </div>




<!-- Conserver cette ligne ??? Crée un bouton pour retour vers l'annuaire...
    <a href="{{url_for('annuaire')}}" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Retour à l'annuaire</a>
    -->

    {% include "partials/retour_accueil.html" %}
    <!-- permet d'afficher le footer, appelle ici le fichier retour_accueil.html présent dans /templates/partial/ -->
{% endblock %}