{% extends "conteneur.html" %}

{% block titre %}
    {%if person %}| Personne : {{person.person_name}} {% endif %}
{% endblock %}


{% block corps %}

    <!-- design repris de la page document.html pour homognéité visuelle et bootstrap-->

    {% if current_user.is_anonymous %}
        <div class="starter-template container" style="text-align: center">
            <img src="/static/img/not_person.gif">
            <h1 class="lead">Vous devez être connecté·e pour accéder à cette page.</h1> <br>
            <a href="{{url_for('register')}}" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Inscription</a>
            <a href="{{url_for('login')}}" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Connexion</a>
            <!-- deux boutons menant aux pages inscription et description, repris page d'accueil, incitation à l'inscription ou connexion + sécurité -->
        </div>
        <!-- même si la page d'une personne n'est accessible en théorie que si on est passé par l'annuaire qui exige connexion, la page d'une personne n'est accessible que si l'utilisateur est connecté, sécurité -->
    {% else %}
<div class="container">
    <a href="{{url_for('annuaire')}}" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Annuaire</a>
</div>
        <div class="row" style="padding: 2em">
            <!-- Si on décidait d'ajouter image pour personne inscrite dans l'annuaire, pourrait se faire ici -->
            <div class="col-md-5 text-white rounded bg-dark" style="margin-left: 10%">
                <h2 class="display-5 font-italic" style="margin-top: 0.5em">{{person.person_firstName}} {{person.person_name}}</h2>
                <!-- affichage Prénom Nom -->
                <ol class="list-unstyled">
                    {% if person.person_promotion %}
                        <li><b>Promotion</b> : {{person.person_promotion}}</li>
                        <!-- si la personne a renseigné sa promotion, afficher sinon rien-->
                    {% endif %}

                    {% if person.person_description %}
                        <dt>Description : </dt>
                        <span>{{person.person_description}}</span>
                    {% else %}
                        <span class="text-muted">Aucune description n'a été renseignée.</span>
                    {% endif %}
                    <!-- Le decription est remplie sur la page d'édition du profil ; si la personne en a rempli une, elle sera affichée, sinon en grisé "aucune etc." -->

                    {% if person.person_login %}
                        <!-- si la personne a un login, est forcément un utilisateur, donc afficher son profil avec un lien vers sa page profil. -->
                        <li><b>Profil</b> :
                            <a href="{{url_for('user', person_login=person.person_login)}}">{{person.person_login}}</a></li>
                        <!-- Afficher son profil avec redirection vers page -->
                    {% endif %}</ol>

            </div>
            <div class="col-md-5 bg-light rounded" style="margin-left: 2%">
                <h4 class="font-italic" style="margin-top: 1em">Contact</h4>
                <ol class="list-unstyled">
                    <li>GitHub :
                        {% if person.person_git %}
                            <a href="{{person.person_git}}">{{(person.person_git).replace("https://github.com/","")|safe}}</a>
                            <!-- le nom du GitHub de la personne est utilisé comme lien, mais tant lui-même un lien, la fonction replace a permis d'enlever. |safe permet de dire à html : c'est une string-->
                        {% else %}
                            <span style="color: grey;">Aucun compte GitHub n'a été renseigné.</span>
                        {% endif %}
                    </li>
                    <li>LinkedIn :
                        {% if person.person_linkedIn %}
                            <span><a href="{{person.person_linkedIn}}">{{person.person_firstName}} {{person.person_name}}</a></span>
                        {% else %}
                            <span style="color: grey;">Aucun compte LinkedIn n'a été renseigné.</span>
                        {% endif %}
                    </li>
                    <li>Adresse email :
                        {% if person.person_email %}
                            <span><a href="mailto:{{person.person_email}}">{{person.person_email}}</a></span>
                        {% else %}
                            <span style="color: grey;">Aucune adresse mail n'a été renseignée. <br>Essayez : <a href="mailto:{{person.person_firstName}}.{{person.person_name}}@chartes.psl.eu" style="text-transform: lowercase;">{{person.person_firstName}}.{{person.person_name}}@chartes.psl.eu</a></span>
                        {% endif %}
                    </li>
                    <!-- Si aucune adresse mail n'a été renseignée, propose par défaut celle de l'ENC, problème avec les accents et noms composés mais c'est une proposition -->
                </ol>
            </div>
        </div>
        <div class="row" style="padding: 2em; margin-top: -2em">
            <div class="col-md-5 rounded" style="margin-left: 10%">
                <dt>CV : </dt>
                {% if person.person_cv %}
                    <dd><a href="{{person.person_cv}}">CV de {{person.person_firstName}} {{person.person_name}}</a></dd>
                    <!-- Si la personne a importé un CV, il sera disponible grâce au lien, sinon affichera ligne suivante -->
                {% else %}
                    <dd>Le CV de {{person.person_firstName}} {{person.person_name}} n'est pas disponible.</dd>
                {% endif %}
            </div>

            <div class="col-md-5" style="margin-left: 2%">
                <dt>Documents ajoutés : </dt>
                {% if person.created_document %}
                    <p>{{person.person_firstName}} {{person.person_name}} a ajouté {{person.created_document|length}} document(s) dans TNAHBox :</p>
                    <!-- length permet de dire le nombre de documents ajoutés par la personne. -->
                    {% for document in person.created_document %}
                        <dd><a href="{{url_for('document', docu_id = document.document_id)}}">{{document.document_title}}</a></dd>
                    {% endfor %}
                    <!-- itération sur chaque document ajouté par Untel -->
                {% else %}
                    <dd>{{person.person_firstName}} {{person.person_name}} n'a ajouté aucun document à TNAHBox.</dd>
                {% endif %}
            </div>

        </div>


    {% endif %}



    <!-- Conserver cette ligne ??? Crée un bouton pour retour vers l'annuaire...
    <a href="{{url_for('annuaire')}}" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Retour à l'annuaire</a>
    -->

    {% include "partials/retour_accueil.html" %}
    <!-- permet d'afficher le footer, appelle ici le fichier retour_accueil.html présent dans /templates/partial/ -->
{% endblock %}