{% extends "conteneur.html" %}

{% block titre %}| {{titre}}{%endblock%}

{% block corps %}
    <div class="hero jumbotron">
        <div class="container">
            <form class="form" id="recherche-form" action="{{url_for("recherche")}}" method="GET">
            {# Création d'un formulaire de recherche de class="form"
            avec un identifiant à reprendre dans la balise <select>
            pour que la valeur de l'attribut value de la balise <option>
            apparaisse dans les arguments de l'URL spécifiée dans l'attribut action
            action donne l'URI dans laquelle mettre les données du formulaire lorsque celui-ci est soumis
            method GET permet d'encoder les données du formulaire en argument de l'URL #}

                <div class="input-group">
                    <input type="search" name="keyword" class="form-control form-control-lg" type="text" placeholder="Faire une recherche">
                    {# Création d'une balise input de type text pour que l'utilisateur rentre ses mots-clef
                    l'attribut name permet de spécifier le nom du champ dans les arguments
                    où seront stockés les mots-clefs rentrés par l'utilisateur #}
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-lg" href="#" role="button">Rechercher</button>
                    </span>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Matière</label>
                    <select form="recherche-form" name="matiere" class="form-control" id="exampleFormControlSelect1">
                        {# Création d'un menu déroulant où afficher les matières existantes dans la BDD
                        l'attribut form référence l'identifiant de la balise form qui contient ce menu
                        l'attribut name permet de spécifier le nom du champ dans les arguments
                        où sera stockée l'option selectionnée par l'utilisateur #}
                        <option value="all">Toutes les matières</option>
                        {# la premiere option du menu affichant la valeur "all" dans les arguments #}
                        {%- for matiere in matieres %}
                            {# pour chaque matière de la liste de matières
                            obtenue en requêtant la classe Document dans routes.py #}
                            <option value="{{matiere}}">{{matiere}}</option>
                            {# création d'une nouvelle option de valeur dans le menu et dans les arguments
                            équivalente à l'enregistrement de l'attribut matiere dans la table Document#}
                        {%- endfor %}
                    </select>
                </div>

            </form>
        </div>
    </div>

    <h1>{{titre}}</h1>

    {% if resultats %}
        <p>Il y a {{resultats.total}} documents qui répondent à votre requête :</p>
        <ul>
            {% for document in resultats.items %}
                {# pour chaque document dans la liste de resultats
                .items rend itérable la variable resultats, originellement objet de pagination #}
                <li><a href="{{url_for('document', docu_id=Document.id)}}">{{Document.label}}</a></li>
                {# création d'un lien donnant accès à page dudit document
                docu_id permettant de spécifier le nombre à faire apparaitre dans l'URL pour ce document #}
            {% endfor %}
        </ul>

        <nav aria-label="research-pagination">
            <ul class="pagination">
                {%- for page in resultats.iter_pages() %}

                    {% if page %}
                        {% if page != resultats.page %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for("recherche", keyword=keyword, type=type, page=page) }}">{{page}}</a>
                                {# pour que la pagination fonctionne selon les mêmes critères de recherche
                                pour toutes les pages de résultats, il faut re-spécifier en paramètre de url_for()
                                toutes les variables contenant les facettes de la recherche #}
                            </li>
                        {% else %}
                            <li class="page-item active disabled">
                                <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                            </li>
                        {% endif %}

                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">...</a>
                        </li>
                    {% endif %}

                {%- endfor %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}