{% extends "conteneur.html" %}

{% block titre %}
    {%if docu %}| Document téléchargé {% endif %}
{% endblock %}

{% block corps %}
    <div class="container">
        <h1 style="margin-left: 2em">Le document a bien été ajouté à la base de donnée</h1>

        <div class="row" style="text-align: center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p>Merci pour votre contribution !</p>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row" style="text-align: center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <img src="{{url_for('static', filename='img/bmo_dancing.gif')}}">
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row" style="text-align: center; padding: 2em">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a class="btn btn-info"
                   href="{{url_for('recherche')}}">Parcourir l'ensemble des documents de TNAH Box</a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    {% include "partials/retour_accueil.html" %}
{% endblock %}

